/* general rules */
.container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 32px 16px;
}


/* header */
header {
  height: 220px;
  background-color: #3535ec;
  border-radius: 0 0 20px 20px;

  position: sticky;
  top: 0;
  left: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70px;
  background-image: url('./assets/img/header-bg.png');

  z-index: 1;
}

/* calendar */